<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Welcome {{user.username}}</h2>
    <p>{{user.email}}</p>
    <form action="" method="POST">
        {% csrf_token %}
        {% comment %} <div>
            {{form.profile_pic}}
        </div><br> {% endcomment %}
        <div>
            {{form.phone}}
        </div><br>
        <div>
            {{form.address}}
        </div><br>
        <div>
            <button type='submit'>Submit</button>
        </div>
    </form>
    {% for message in messages %}
        <p>{{message}}</p>
    {% endfor %}

</body>
</html>