<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Store</title>
</head>
<body>
    <p>Hey World!</p>
    {% if user.is_authenticated %}
        <p>Logout <a href="/accounts/logout">here!</a></p>
        <a href="/accounts/dashboard">Edit profile</a>
        <p>Product 1</p>
        <p>Product 2</p>
        <p>Product 3</p>
    {% else %}
        <p>Resgister <a href="/accounts/register">here!</a></p>
        <p>Login <a href="/accounts/login">here!</a></p>
    {% endif %}
</body>
</html>