<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
</head>
<body>
    <h2>Register here</h2>
    <form action="" method="POST">
        {% csrf_token %}
        <div>
            {{form.first_name}}
        </div>
        <div>
            {{form.last_name}}
        </div>
        <div>
            {{form.username}}
        </div>
        <div>
            {{form.email}}
        </div>
        <div>
            {{form.password}}
        <div>
            <button type="submit">Submit</button>
        </div>
    </form>
    <div>
        {% for message in messages %}
          <h5>{{message}}</h5>
        {% endfor %} 
    </div>
    <br>
    <h2>If registered already, Login <a href="/store/login">here<a></h2>
</body>
</html>